<div class="page-body">
  <h2 class="mat-h2">Edit Menu</h2>
  <form [formGroup]="menuForm" novalidate>

    <div class="form-control">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Name" formControlName="name" value="{{menu && menu.name ? menu.name : ''}}">
        <mat-error *ngIf="name.hasError('required')">
          Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-control">
      <mat-form-field class="example-full-width">
        <mat-select [(ngModel)]="type" formControlName="type">
          <mat-option value="FOOD">FOOD</mat-option>
          <mat-option value="DRINK">DRINK</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-control">
      <mat-form-field class="example-full-width">
        <mat-select [(ngModel)]="restaurant_id" formControlName="restaurant">
          <mat-option *ngFor="let c of restaurants" [value]="c.id">{{c.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <button mat-raised-button class="mat-primary" (click)="submit() "[disabled]="!menuForm.valid">Send</button>
    <a mat-button class="mat-accent" routerLink="/menus">Back</a>
  </form>
</div>
